.quick-social-medias {
    position: fixed;
    top: 0;
    right: 0;
    margin-right: 30px;
    height: 100vh;
    justify-items: center;
    justify-content: center;

    button {
        display: block !important;
        margin: 10px 0;
    }
}

@media screen and (max-width: 866px) {
    .quick-social-medias {
        display: none !important    ;
    }
}