<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ilham Shiddiq</title>
</head>
<body>
    <main>
        <div class="page page-1" id="page-1">
            <nav-bar></nav-bar>
            <div class="about-me mx-auto d-flex align-items-center">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-4 col-lg-5 col-md-12 col-12 py-3 px-3 text-center">
                            <img src="./src/static/images/ilham-shiddiq.jpg" alt="Ilham Shiddiq" class="rounded-circle shadow-medium">
                        </div>
                        <div class="col-xl-8 col-lg-7 col-md-12 col-12 py-1 px-4">
                            <div class="role">Backend Developer</div>
                            <div class="title font-bold mb-2"><h1>ABOUT ME</h1></div>
                            <div class="content font-light">Hi! My name is <span class="font-medium">Ilham Shiddiq</span>, 18 years old, a web developer (currently working at a company in Bandung as Backend Developer). Love coding and never stop learning. I experienced with PHP (esp. Laravel Framework), Python, NodeJS, C++, C#, Java, Javascript and Go Language.</div>
                            <div class="content font-light mt-3">I'm a freshgraduate from Vocational High School 1 Cimahi, on Software Engineering major. Please don't hesitate to make a communication with me, I'm just a boy with glasses who loves <span class="eating">eating</span> <span class="font-medium">coding</span>.</div>
                            <button class="btn btn-app btn-primary-outline mt-4 px-4">Know more About <span class="font-bold">me</span></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="page page-2" id="experiences">
            <div class="steps full-width d-flex justify-content-center">
                <div class="step-wrapper text-align my-auto">
                    <div class="step" id="first-step">
                        <div class="circle-warpper">
                            <div class="circle"></div>
                        </div>
                        <div class="experience-point-left">
                           <div class="year">2020-2021</div>
                           <div class="role font-regular">Fullstack Developer - <span class="font-medium">OLibrary</span></div>
                           <div class="caption">OLibrary is a web application for library management (book, ebook, librarians, etc.), built with PHP Framework, Laravel and using MySQL DBMS. Working as a frontend, also backend.</div>
                           <div class="type mt-2">Project &nbsp; <i class="fa-solid fa-thumbtack"></i></div>
                        </div>
                    </div>
                    <div class="step">
                        <div class="circle-warpper">
                            <div class="circle"></div>
                        </div>
                        <div class="experience-point-right">
                            <div class="year">2021-Present</div>
                           <div class="role font-regular">External Code Reviewer - <span class="font-medium">Dicoding Academy</span></div>
                           <div class="caption">Working as a code reviewer, make an assessment to submitted projects, also answer the forum discussion and provide solution, suggestion to student's submission.</div>
                           <div class="type mt-2"><i class="fa-solid fa-thumbtack"></i> &nbsp; Flexitime Job</div>
                        </div>
                    </div>
                    <div class="step">
                        <div class="circle-warpper">
                           <div class="circle"></div>
                        </div>
                        <div class="experience-point-left">
                            <div class="year">2021-Present</div>
                            <div class="role font-regular">Backend Developer - <span class="font-medium">PT Paninti Hub</span></div>
                            <div class="caption">Building a Restful API using PHP Framework, Laravel for many of projects. Also debugging and make sure the code more efficient and less query.</div>
                            <div class="type mt-2">Fulltime Job &nbsp; <i class="fa-solid fa-thumbtack"></i></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="page page-3" id="skills">
            <div class="container">
                <div class="d-flex align-items-center full-height">
                    <div class="skills-wrapper">
                        <div class="row mb-5 text-right">
                            <div class="col-12 col-md-6 col-lg-6">
                                <h1 class="title">MY SKILLS</h1>
                            </div>
                            <div class="col-12 col-md-6 col-lg-6">
                                <div class="button-navigations d-flex justify-content-end">
                                    <button class="btn button-navigation-left px-3 py-2 text-white" id="backend-skill">Backend</button>
                                    <button class="btn button-navigation-middle px-3 py-2 text-white" id="frontend-skill">Frontend</button>
                                    <button class="btn button-navigation-right px-3 py-2 text-white" id="other-skill">Others</button>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <skill-card class="col-12 col-md-6 col-lg-4 mb-3"
                                img-src="./src/static/skill-images/javascript.png"
                                skill="Javascript"
                                level="Beginner"
                                since="2018"></skill-card>
                            <skill-card class="col-12 col-md-6 col-lg-4 mb-3"
                                img-src="./src/static/skill-images/javascript.png"
                                skill="Javascript"
                                level="Beginner"
                                since="2018"></skill-card>
                            <skill-card class="col-12 col-md-6 col-lg-4 mb-3"
                                img-src="./src/static/skill-images/javascript.png"
                                skill="Javascript"
                                level="Beginner"
                                since="2018"></skill-card>
                            <skill-card class="col-12 col-md-6 col-lg-4 mb-3"
                                img-src="./src/static/skill-images/javascript.png"
                                skill="Javascript"
                                level="Beginner"
                                since="2018"></skill-card>
                            <skill-card class="col-12 col-md-6 col-lg-4 mb-3"
                                img-src="./src/static/skill-images/javascript.png"
                                skill="Javascript"
                                level="Beginner"
                                since="2018"></skill-card>
                            <skill-card class="col-12 col-md-6 col-lg-4 mb-3"
                                img-src="./src/static/skill-images/javascript.png"
                                skill="Javascript"
                                level="Beginner"
                                since="2018"></skill-card>
                            <skill-card class="col-12 col-md-6 col-lg-4 mb-3"
                                img-src="./src/static/skill-images/javascript.png"
                                skill="Javascript"
                                level="Beginner"
                                since="2018"></skill-card>
                            <skill-card class="col-12 col-md-6 col-lg-4 mb-3"
                                img-src="./src/static/skill-images/javascript.png"
                                skill="Javascript"
                                level="Beginner"
                                since="2018"></skill-card>
                            <skill-card class="col-12 col-md-6 col-lg-4 mb-3"
                                img-src="./src/static/skill-images/javascript.png"
                                skill="Javascript"
                                level="Beginner"
                                since="2018"></skill-card>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="page page-4" id="portfolios">
            <div class="container">
                <div class="d-flex align-items-center full-height">
                    <div class="portfolios-wrapper">
                        <div class="portfolios-row-wrapper">
                            <div class="row">
                                <div class="col-12 col-md-6 col-lg-7 col-xl-7 mb-4">
                                    <div class="portfolio-card p-4" id="portfolio-1-wrapper">
                                        <img src="./src/static/portfolio-assets/Mockup 1.gif" alt="Portfolio 1" id="portfolio-1">
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-lg-5 col-xl-5 mb-4">
                                    <div class="portfolio-card p-4" id="portfolio-2-wrapper">
                                        <img src="./src/static/portfolio-assets/Mockup 3.gif" alt="Portfolio 2" id="portfolio-2">
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-lg-5 col-xl-5 mb-4">
                                    <div class="portfolio-card p-4" id="portfolio-3-wrapper">
                                        <img src="./src/static/portfolio-assets/Mockup 4.gif" alt="Portfolio 3" id="portfolio-3">
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-lg-7 col-xl-7 mb-4">
                                    <div class="portfolio-card p-4" id="portfolio-4-wrapper">
                                        <img src="./src/static/portfolio-assets/Mockup 2.gif" alt="Portfolio 4" id="portfolio-4">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="page-fluid page-5" id="contacts">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12 col-lg-6 p-0">
                        <div class="form-wrapper">
                            <form class="d-flex flex-column">
                                <div class="form-group mb-3">
                                    <input type="text" class="form-control" id="" placeholder="Your name">
                                </div>
                                <div class="form-group mb-3">
                                    <input type="text" class="form-control" id="" placeholder="Your subject">
                                </div>
                                <div class="form-group mb-3">
                                    <input type="text" class="form-control" id="" placeholder="Your email">
                                </div>
                                <div class="form-group mb-5">
                                    <textarea class="form-control" id="" placeholder="Say something to me" rows="5"></textarea>
                                </div>
                                <button type="submit" class="btn btn-primary shadow-small">Get In Touch</button>
                            </form>
                        </div>
                    </div>
                    <div class="col-12 col-lg-6 p-0">
                        <div class="contact-wrapper">
                            <div class="closing d-flex flex-column px-3">
                                <div class="say-hi-label">
                                    <h1 class="font-bold mb-4">SAY <br> HI <br> TO <br> ME!</h1>
                                </div>
                                <div class="content">
                                    <p>If you have any questions about me or my projects, don't hesitate to hit me up in my contacts below, or you can send an email to me. I'm always available to chat with you. Drop the questions, comments, Spotify playlist, or movie suggestion to me (I'm a big fan of Marvel btw).</p>
                                    <p>Phone: <span class="font-medium">+(62) 821 3048 6258</span></p>
                                </div>
                            </div>
                            <div class="footer">
                                <button class="btn btn-app btn-app-big btn-social-media btn-primary-outline mx-1"><i class="fa-solid fa-envelope"></i></button>
                                <button class="btn btn-app btn-app-big btn-social-media btn-primary-outline mx-1"><i class="fa-brands fa-whatsapp"></i></button>
                                <span class="mobile-socials">
                                    <button class="btn btn-app btn-app-big btn-social-media btn-primary-outline mx-1"><i class="fa-brands fa-linkedin"></i></button>
                                    <button class="btn btn-app btn-app-big btn-social-media btn-primary-outline mx-1"><i class="fa-brands fa-instagram"></i></button>
                                    <button class="btn btn-app btn-app-big btn-social-media btn-primary-outline mx-1"><i class="fa-brands fa-gitlab"></i></button>
                                    <button class="btn btn-app btn-app-big btn-social-media btn-primary-outline mx-1"><i class="fa-brands fa-github"></i></button>
                                </span>
                                <span class="copyright mt-3">
                                    <i class="fa-regular fa-copyright"></i> 2022
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <social-medias></social-medias>
    </main>
</body>
</html>