<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ilham Shiddiq</title>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-231877835-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-231877835-1');
    </script>
</head>
<body>
    <main>
        <div class="page page-1" id="page-1">
            <nav-bar></nav-bar>
            <div class="about-me mx-auto d-flex align-items-center">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-4 col-lg-5 col-md-12 col-12 py-3 px-3 text-center">
                            <img src="./src/static/images/ilham-shiddiq.jpg" alt="Ilham Shiddiq" class="rounded-circle shadow-medium">
                        </div>
                        <div class="col-xl-8 col-lg-7 col-md-12 col-12 py-1 px-4">
                            <div class="role">Backend Developer</div>
                            <div class="title font-bold mb-2"><h1>ABOUT ME</h1></div>
                            <div class="content font-light">Hi! My name is <span class="font-medium">Ilham Shiddiq</span>, 18 years old, a web developer (currently working at a company in Bandung as Backend Developer). Love coding and never stop learning. I experienced with PHP (esp. Laravel Framework), Python, NodeJS, C++, C#, Java, Javascript and Go Language.</div>
                            <div class="content font-light mt-3">I'm a freshgraduate from Vocational High School 1 Cimahi, on Software Engineering major. Please don't hesitate to make a communication with me, I'm just a boy with glasses who loves <span class="eating">eating</span> <span class="font-medium">coding</span>.</div>
                            <a href="#experiences" class="btn btn-app btn-primary-outline mt-4 px-4">Know more About <span class="font-bold">me</span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="page page-2" id="experiences">
            <div class="steps full-width d-flex justify-content-center">
                <div class="step-wrapper text-align my-auto" id="experience-wrapper"></div>
            </div>
        </div>
        <div class="page page-3" id="skills">
            <div class="container">
                <div class="d-flex align-items-center full-height">
                    <div class="skills-wrapper">
                        <div class="row mb-5 text-right">
                            <div class="col-12 col-md-6 col-lg-6">
                                <h1 class="title">MY SKILLS</h1>
                            </div>
                            <div class="col-12 col-md-6 col-lg-6">
                                <div class="button-navigations d-flex justify-content-end">
                                    <button class="btn button-navigation-left px-3 py-2 text-white skill-tab" data-tab="backend">Backend</button>
                                    <button class="btn button-navigation-middle px-3 py-2 text-white skill-tab" data-tab="frontend">Frontend</button>
                                    <button class="btn button-navigation-right px-3 py-2 text-white skill-tab" data-tab="others">Others</button>
                                </div>
                            </div>
                        </div>
                        <div class="row" id="skills-container"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="page page-4" id="portfolios">
            <div class="container">
                <div class="d-flex align-items-center full-height">
                    <div class="portfolios-wrapper">
                        <div class="portfolios-row-wrapper">
                            <div class="row">
                                <div class="col-12 col-md-6 col-lg-7 col-xl-7 mb-4">
                                    <portfolio-card
                                        img-src="./src/static/portfolio-assets/Mockup 1.gif"
                                        image-id="portfolio-1"
                                        title="Portoflio 1"
                                        background-color="#FFA3B3"
                                        image-align="left"
                                        image-margin="margin-left: 50px;"
                                        summary="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ut tempor erat. Pellentesque habitant morbi tristique senectus et netus et."
                                        github-url="#"
                                        web-url="#"></portfolio-card>
                                </div>
                                <div class="col-12 col-md-6 col-lg-5 col-xl-5 mb-4">
                                    <portfolio-card
                                        img-src="./src/static/portfolio-assets/Mockup 3.gif"
                                        image-id="portfolio-2"
                                        title="Portoflio 2"
                                        background-color="#FFD9FF"
                                        image-align="center"
                                        image-margin=""
                                        summary="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ut tempor erat. Pellentesque habitant morbi tristique senectus et netus et."
                                        github-url="#"
                                        web-url="#"></portfolio-card>
                                </div>
                                <div class="col-12 col-md-6 col-lg-5 col-xl-5 mb-4">
                                    <portfolio-card
                                        img-src="./src/static/portfolio-assets/Mockup 4.gif"
                                        image-id="portfolio-3"
                                        title="Portoflio 3"
                                        background-color="#FFD9E0"
                                        image-align="center"
                                        image-margin=""
                                        summary="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ut tempor erat. Pellentesque habitant morbi tristique senectus et netus et."
                                        github-url="#"
                                        web-url="#"></portfolio-card>
                                </div>
                                <div class="col-12 col-md-6 col-lg-7 col-xl-7 mb-4">
                                    <portfolio-card
                                        img-src="./src/static/portfolio-assets/Mockup 2.gif"
                                        image-id="portfolio-4"
                                        title="Portoflio 4"
                                        background-color="#FEBEFF"
                                        image-align="right"
                                        image-margin="margin-right: 75px;"
                                        summary="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ut tempor erat. Pellentesque habitant morbi tristique senectus et netus et."
                                        github-url="#"
                                        web-url=""></portfolio-card>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="page-fluid page-5" id="contacts">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12 col-lg-6 p-0">
                        <div class="form-wrapper">
                            <form class="d-flex flex-column">
                                <div class="form-group mb-3">
                                    <input type="text" class="form-control" id="" placeholder="Your name">
                                </div>
                                <div class="form-group mb-3">
                                    <input type="text" class="form-control" id="" placeholder="Your subject">
                                </div>
                                <div class="form-group mb-3">
                                    <input type="text" class="form-control" id="" placeholder="Your email">
                                </div>
                                <div class="form-group mb-5">
                                    <textarea class="form-control" id="" placeholder="Say something to me" rows="5"></textarea>
                                </div>
                                <button type="submit" class="btn btn-primary shadow-small">Get In Touch</button>
                            </form>
                        </div>
                    </div>
                    <div class="col-12 col-lg-6 p-0">
                        <div class="contact-wrapper">
                            <div class="closing d-flex flex-column px-3">
                                <div class="say-hi-label">
                                    <h1 class="font-bold mb-4">SAY <br> HI <br> TO <br> ME!</h1>
                                </div>
                                <div class="content">
                                    <p>If you have any questions about me or my projects, don't hesitate to hit me up in my contacts below, or you can send an email to me. I'm always available to chat with you. Drop the questions, comments, Spotify playlist, or movie suggestion to me (I'm a big fan of Marvel btw).</p>
                                    <p>Phone: <span class="font-medium">+(62) 821 3048 6258</span></p>
                                </div>
                            </div>
                            <div class="footer">
                                <a href="mailto:contact@ilhamsh.id" target="_blank" class="btn btn-app btn-app-big btn-social-media btn-primary-outline mx-1" rel="noopener noreferrer"><i class="fa-solid fa-envelope"></i></a>
                                <a href="https://api.whatsapp.com/send?phone=6282130486258/" target="_blank" class="btn btn-app btn-app-big btn-social-media btn-primary-outline mx-1" rel="noopener noreferrer"><i class="fa-brands fa-whatsapp"></i></a>
                                <span class="mobile-socials">
                                    <a href="https://linkedin.ilhamsh.id/" target="_blank" class="btn btn-app btn-app-big btn-social-media btn-primary-outline mx-1" rel="noopener noreferrer"><i class="fa-brands fa-linkedin"></i></a>
                                    <a href="https://www.instagram.com/ilham_shiddiq373/" target="_blank" class="btn btn-app btn-app-big btn-social-media btn-primary-outline mx-1" rel="noopener noreferrer"><i class="fa-brands fa-instagram"></i></a>
                                    <a href="https://gitlab.com/IlhamShiddiq/" target="_blank" class="btn btn-app btn-app-big btn-social-media btn-primary-outline mx-1" rel="noopener noreferrer"><i class="fa-brands fa-gitlab"></i></a>
                                    <a href="https://github.ilhamsh.id/" target="_blank" class="btn btn-app btn-app-big btn-social-media btn-primary-outline mx-1" rel="noopener noreferrer"><i class="fa-brands fa-github"></i></a>
                                </span>
                                <span class="copyright mt-3">
                                    <i class="fa-regular fa-copyright"></i> 2022
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <social-medias></social-medias>
    </main>
</body>
</html>