<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ilham Shiddiq</title>
</head>
<body>
    <main>
        <div class="page page-1" id="page-1">
            <nav-bar></nav-bar>
            <div class="about-me mx-auto d-flex align-items-center">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-4 col-lg-5 col-md-12 col-12 py-3 px-3 text-center">
                            <img src="./src/static/images/ilham-shiddiq.jpg" alt="Ilham Shiddiq" class="rounded-circle shadow-medium">
                        </div>
                        <div class="col-xl-8 col-lg-7 col-md-12 col-12 py-1 px-4">
                            <div class="role">Backend Developer</div>
                            <div class="title font-bold mb-2"><h1>ABOUT ME</h1></div>
                            <div class="content font-light">Hi! My name is <span class="font-medium">Ilham Shiddiq</span>, 18 years old, a web developer (currently working at a company in Bandung as Backend Developer). Love coding and never stop learning. I experienced with PHP (esp. Laravel Framework), Python, C++, C#, Java, Javascript and Go Language.</div>
                            <div class="content font-light mt-3">I'm a freshgraduate from Vocational High School 1 Cimahi, on Software Engineering major. Please don't hesitate to make a communication with me, I'm just a boy with glasses who loves <span class="eating">eating</span> <span class="font-medium">coding</span>.</div>
                            <button class="btn btn-app btn-primary-outline mt-4 px-4">Know more About <span class="font-bold">me</span></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <social-medias></social-medias>
    </main>
</body>
</html>