body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.page-1 {
    .about-me {
        width: 70%;
        min-height: 78vh;
        padding: 50px;

        img {
            width: 100%;
        }

        .title {
            h1 {
                font-size: 40px;
                font-weight: bolder;
            }
        }

        .eating {
            text-decoration: line-through !important;
        }
    }
}

.page-2 {
    justify-items: center;
    justify-content: center;

    .steps {
        height: 100vh;

        .step-wrapper {
            display: inline-block;

            .step {
                position: relative;
                min-height: 1em;
            }

            .role {
                line-height: 1.5em;
                font-size: 20px;
            }

            .caption {
                font-size: 14px;
            }

            .type {
                color: #9C9C9C;
                font-size: 14px;
            }

            .step + .step {
                margin-top: 175px;
            }

            .step > div.circle-warpper {
                position: static;
                height: 0;
            }

            .step > div.experience-point-right {
                position: absolute !important;
                top: -275%;
                left: 60px;
                width: 450px;
            }

            .step > div.experience-point-left {
                position: absolute !important;
                top: -275%;
                left: -475px;
                width: 450px;
                text-align: right;
            }

            .circle {
                background: $pallette_color_2;
                position: relative;
                width: 38px;
                height: 38px;
                line-height: 1.5em;
                border-radius: 100%;
                color: $pallette_color_2;
                text-align: center;
            }

            .circle:after {
                content: '';
                position: absolute;
                display: block;
                right: 50%;
                left: 50%;
                height: 260%;
                width: 1.5px;
                transform: scale(1, 2);
                transform-origin: 50% -20%;
                background-color: $black_color;
                z-index: -1;
            }

            .step:last-child .circle:after {
                display: none
            }

            #first-step::before {
                content: 'MY EXPERIENCES';
                position: absolute;
                top: -110px;
                left: -135px;
                width: 300px;
                text-align: center;
                font-size: 30px;
                font-weight: bold;
            }
        }
    }
}

.page-3 {
    .skills-wrapper {
        padding: 0 150px;
        width: 100%;

        h1.title {
            font-size: 30px;
            font-weight: bold;
        }

        .button-navigations {
            display: inline-block;

            button {
                border-radius: 0;
                font-weight: 400 !important;
            }

            button.button-navigation-left {
                border-top-left-radius: 8px;
                border-bottom-left-radius: 8px;
                background-color: $pallette_color_4;

                &:focus {
                    box-shadow: 0 0 0 0.25rem #e0597278;
                }
            }

            button.button-navigation-middle {
                border-top-right-radius: 8px;
                border-bottom-right-radius: 8px;
                background-color: $pallette_color_5;

                &:focus {
                    box-shadow: 0 0 0 0.25rem #f67c927b;
                }
            }
        }
    }
}

.page-4 {
    .portfolios-wrapper {
        padding: 0 200px;
        width: 100%;

        .portfolios-row-wrapper {
            position: relative;

            &:before {
                content: 'FIND MY PORTFOLIOS HERE';
                position: absolute;
                top: -30px;
                left: 0;
            }

            &:after {
                content: 'CLICK PORTFOLIO TO SEE THE DETAILS';
                position: absolute;
                bottom: -10px;
                right: 0;
            }
        }
    }
}

.page-5 {
    .form-wrapper {
        background-color: $primary_color;
        height: 100vh;
        padding: 0 90px;
        box-sizing: border-box;

        form {
            justify-items: center;
            justify-content: center;
            height: 100vh;

            input, textarea {
                background-color: $primary_color;
                border-color: $white_color;
                color: $white_color;
                border-radius: 13px;

                &::placeholder {
                    font-size: 15px;
                    color: $white_color;
                    opacity: 1;
                }

                &:-ms-input-placeholder {
                    font-size: 15px;
                    color: $white_color;
                    opacity: 1;
                }

                &::-ms-input-placeholder {
                    font-size: 15px;
                    color: $white_color;
                    opacity: 1;
                }

                &:focus {
                    box-shadow: 0 0 0 0.25rem rgba(255, 255, 255, 0.25);
                }
            }

            button {
                width: 220px;
                background-color: $white_color;
                border: none;
                color: $black_color;
                margin: 0 auto;
                border-radius: 13px;

                &:focus {
                    box-shadow: 0 0 0 0.25rem rgba(255, 255, 255, 0.25);
                }
            }
        }
    }

    .contact-wrapper {
        position: relative;
        height: 100vh;

        .closing {
            justify-items: center;
            justify-content: center;
            width: 85%;
            height: 100vh;

            .say-hi-label {
                h1 {
                    font-size: 70px;
                    line-height: 65px;
                }
            }
        }

        .footer {
            position: absolute;
            display: inline-block;
            width: 100%;
            padding: 20px;
            bottom: 0;
            left: 0;

            .mobile-socials {
                display: none;
            }

            .copyright {
                float: right;
            }
        }
    }
}
