// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) { 
    .page-1 {
        .about-me {
            width: 100% !important;
            min-height: 100vh;
            font-size: 14px;
            padding: 30px;

            img {
                width: 88%;
                margin-bottom: 18px;
            }

            .title {
                h1 {
                    font-size: 35px;
                }
            }

            button {
                margin-bottom: 30px;
            }
        }
    }

    .page-2 {
        .steps {
            justify-content: left !important;

            .step-wrapper {
                width: 100%;
                padding: 13px;

                .step > div.experience-point-right {
                    left: 50px;
                    width: 85%;
                }
        
                .step > div.experience-point-left {
                    left: 50px;
                    width: 85%;
                    text-align: left;
                }

                .year {
                    font-size: 14px;
                }

                .role {
                    font-size: 16px;
                }
            
                .caption {
                    font-size: 14px;
                }
        
                .type {
                    font-size: 12px;
                }

                #first-step::before {
                    top: -100px;
                    left: 0;
                    text-align: left;
                    font-size: 25px;
                }
            }
        }
    }
}

// Small devices (landscape phones, less than 768px)
@media (min-width: 576px) and (max-width: 767.98px) {
    .page-1 {
        .about-me {
            width: 100% !important;
            min-height: 100vh;
            font-size: 14px;
            padding: 30px;

            img {
                width: 65%;
                margin-bottom: 18px;
            }

            .title {
                h1 {
                    font-size: 35px;
                }
            }

            button {
                margin-bottom: 30px;
            }
        }
    }

    .page-2 {
        .steps {
            justify-content: left !important;

            .step-wrapper {
                width: 100%;
                padding: 18px;

                .step > div.experience-point-right {
                    left: 50px;
                    width: 85%;
                }
        
                .step > div.experience-point-left {
                    left: 50px;
                    width: 85%;
                    text-align: left;
                }

                .year {
                    font-size: 14px;
                }

                .role {
                    font-size: 16px;
                }
            
                .caption {
                    font-size: 14px;
                }
        
                .type {
                    font-size: 12px;
                }

                #first-step::before {
                    top: -100px;
                    left: 0;
                    text-align: left;
                    font-size: 25px;
                }
            }
        }
    }
}

// Medium devices (tablets, less than 992px)
@media (min-width: 768px) and (max-width: 991.98px) {
    .page-1 {
        .about-me {
            width: 90% !important;
            min-height: 100vh;
            font-size: 14px;
            padding: 35px;

            img {
                width: 60%;
                margin-bottom: 18px;
            }

            .title {
                h1 {
                    font-size: 35px;
                }
            }

            button {
                margin-bottom: 30px;
            }
        }
    }

    .page-2 {
        .steps {
            justify-content: left !important;

            .step-wrapper {
                width: 100%;
                padding: 40px;

                .step > div.experience-point-right {
                    left: 50px;
                    width: 85%;
                }
        
                .step > div.experience-point-left {
                    left: 50px;
                    width: 85%;
                    text-align: left;
                }

                .year {
                    font-size: 14px;
                }

                .role {
                    font-size: 16px;
                }
            
                .caption {
                    font-size: 14px;
                }
        
                .type {
                    font-size: 12px;
                }

                #first-step::before {
                    top: -100px;
                    left: 0;
                    text-align: left;
                    font-size: 25px;
                }
            }
        }
    }
}

// Large devices (desktops, less than 1200px)
@media (min-width: 992px) and (max-width: 1199.98px) {
    .page-1 {
        .about-me {
            min-height: 85vh;
            padding: 40px;

            img {
                width: 100%;
            }
        }
    }

    .page-2 {
        .steps {
            .step-wrapper {
                .step > div.experience-point-right {
                    top: -300%;
                    left: 50px;
                    width: 375px;
                }
        
                .step > div.experience-point-left {
                    top: -300%;
                    left: -395px;
                    width: 375px;
                }

                .year {
                    font-size: 14px;
                }

                .role {
                    font-size: 17px;
                }
            
                .caption {
                    font-size: 14px;
                }
        
                .type {
                    font-size: 12px;
                }

                #first-step::before {
                    font-size: 27px;
                }
            }
        }
    }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
    // 
}