.page {
    width: 100%;
    min-height: 768px;
    position: relative;
}

.font-light {
    font-weight: 300;
}

.font-regular {
    font-weight: 400;
}

.font-medium {
    font-weight: 500;
}

.font-bold {
    font-weight: 700;
}

.shadow-small {
    box-shadow: 0px 1px 25px rgba(0, 0, 0, 0.25);
}

.shadow-medium {
    box-shadow: 0px 10px 35px rgba(0, 0, 0, 0.25);
}

.no-decoration {
    color: $black_color;
    text-decoration: none;

    &:hover {
        color: $black_color;
    }
}

.btn-app {
    border-radius: 10px;
    font-size: 14px;
    text-align: center;
}

.btn-app-big {
    font-size: 20px;
}

.btn-social-media {
    width: 50px !important;
    height: 50px !important;
}

.btn-primary-outline {
    color: $primary_color;
    border: solid 2px $primary_color;

    &:hover {
        color: $white_color;
        background-color: $primary_color;
    }

    &:focus {
        color: $white_color;
        background-color: $primary_color;
        box-shadow: 0 0 0 0.25rem #be375039;
    }
}