$pallette_color_1: #750318;
$pallette_color_2: #A90B28;
$pallette_color_3: #BE374F;
$pallette_color_4: #E05971;
$pallette_color_5: #F67C92;
$pallette_color_6: #FBAEBC;
$black_color: #000000;
$white_color: #FFFFFF;

$primary_color: $pallette_color_3;